$light: var(--bg-light);
$dark: var(--bg-dark);

.landingpage {
  background: $dark;

  .search-bar {
    margin-top: -6em;
    display: flex;
    align-items: center;
    justify-content: center;

    .search {
      width: 40%;
      padding: 0.2em;
      border: 1px solid $light;
      border-radius: 5px;

      input {
        outline: none;
        background: transparent;
        width: 94%;
        color: $light;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.5px;
        margin-left: 0.5em;
        height: 30px;
        border: none;

        &::placeholder {
          color: $light;
        }
      }
      .search-icon {
        color: $light;
        font-size: 18px;
      }
    }
  }

  .cards-area {
    margin-top: 5em;
    gap: 1em;
    background: #393e46;
    border-radius: 5px;

    .cards {
      margin: 3em 0;
      display: flex;
      padding: 1em;

      .imgBox {
        width: 20em;
        height: 15em;
        padding: 3px;
        border: 1px solid $light;
        border-radius: 5px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
        }
      }

      .details {
        width: 100%;
        margin-left: 1em;

        h5 {
          font-size: 28px;
          font-weight: 700;
          color: $light;
        }

        .info {
          display: flex;
          justify-content: space-between;
          p {
            font-size: 16px;
            line-height: 24px;
            color: $light;

            &:nth-child(3) {
              font-size: 14px;
              letter-spacing: 0.5px;
              font-style: italic;
            }
          }
          .inf-left {
            width: 75%;
          }
          .inf-right {
            h3 {
              font-size: 22px;
              color: $light;
              font-weight: 500;
            }
            p {
              font-weight: 500;
              color: lightgray;
              font-size: 14px;
            }
          }
        }
      }
      .button {
        button {
          margin-top: 0.5em;
          padding: 5px 1em;
          border: none;
          display: flex;
          align-items: center;
          color: var(--bg-dark);
          border-radius: 5px;
          outline: none;
          font-size: 14px;
          font-weight: 500;
          background-color: #f6f6c9;

          .icons {
            font-size: 14px;
            margin-left: 1.5em;
          }
        }
      }

      .details-area.active {
        display: block;
        margin-top: 1em;
      }
      .details-area {
        display: none;
        .details {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1em;
          margin: 0;
          color: #fff;
          background: #393e46;
          border: 1px solid $light;
          border-radius: 10px;
          p {
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            margin: 1.5em 0;
          }
        }
      }
    }
    .line {
      display: flex;
      justify-content: center;

      .v-line {
        width: 97%;
        height: 1px;
        background: #999;
      }
    }
  }
}
